* {
    box-sizing: border-box;
}

html { 
	width: 100vw;
    overflow: hidden;
    position: relative;
  	min-height: 100%;
}

body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
}

header, main {
	/* Padding is to make safe space for iPhones */
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

main {
	margin-top: 10px;
	position: relative;
	max-height: 80%;	
}

button {
	padding: 0px !important;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 56px;
	border-top: 4px solid #4E7271;
	padding: 10px;
}

a {
	text-decoration: none !important;

}

*:focus {
	outline: -webkit-focus-ring-color none;
}

p {
	padding: 1rem;
}

form {
	overlow-x: none;
}

input[type="text"], input[type="email"], textarea  {
	width: 98%;
	padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #4E7271;
    border-radius: 5px;
}

textarea {
	height: 150px;
   	resize: none;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
	border: 1px solid #725342;
}

input[type="email"]:invalid {
	border-left: 3px solid #DD524A;
}

input[type=submit] {
	border: none;
    padding: 16px 32px;
    margin: 0px auto;
    cursor: pointer;
    width: 98%;
    border-radius: 5px;
}

input[type=submit]::-moz-focus-inner {
  border: 0;
}

.mt {
	margin-top: 10px;
}

.body-grid, .header-grid-container, .main-grid-container, .content-title-grid {
	display: grid;
	
	max-width: 634px;
	min-width: 385px;
	grid-gap: 0px;
}

.body-grid {
	grid-template-rows: auto;
	align-content: center;
}

.header-grid-container {
	grid-template-columns: repeat(12, 1fr);
	align-content: center;
  	margin: 0px auto;
	padding: 10px;
}

.main-grid-container {
	grid-template-columns: repeat(12, 1fr);
  	justify-content: center;
  	margin: 4px auto;
  	text-align: left;
}

.content-title-grid {
	grid-template-columns: repeat(12, 1fr);
  	justify-content: center;
  	max-width: 100%;
  	margin: 0px auto;
  	border-bottom: 3px #4E7271 solid;
}

.title-grid {
	grid-area: 1 / 1 / 2 / -1;
}

.body-header-grid {
	grid-template-columns: auto repeat(3, 120px)
}

.body-header-pagetitle {
	grid-area: 1 / 1 / 2/ 2;
}

.body-header-aboutlink {
	grid-area: 1 / 2 / 2/ 3;
}

.body-header-portfoliolink {
	grid-area: 1 / 3 / 2/ 4;
}

.body-header-contactlink {
	grid-area: 1 / 4 / 2/ 5;
}

.header-item-name {
	grid-area: 1 / 1 / 2 / -1;
	margin-bottom: 5px;
}

.header-item-nav-1 {
	grid-area: 2 / 1 / span 1 / span 4;
	border-right: 1px #4E7271 solid;
	display: flex;
	justify-content: center;
}

.header-item-nav-2 {
	grid-area: 2 / 5 / span 1 / span 4;
	border-right: 1px #4E7271 solid;
	display: flex;
	justify-content: center;
}

.header-item-nav-3 {
	grid-area: 2 / 9 / span 1 / span 4;
	display: flex;
	justify-content: center;
	}

.header-item-nav-4 {
	grid-area: 1 / 11 / span 1 / 13;
	display: none;
	height: 50px;
	margin: auto 0px;
	justify-content: center;
}

.header-item-nav-flex {
	display: flex;
	align-items: center;
	width: 80%;
}

.main-item-content {
	grid-area: 1 / 1 / 3 / -1;
	display: flex;
	padding: 10px;
	border: 1px #4E7271 solid;
	margin-bottom: 60px;
}

.main-item-flex {
	flex: 1;
}

.main-item-connect {
	grid-area: 1 / 9 / 2 / -1;
	display: none;
	border: 1px #4E7271 solid;
	height: auto;
	padding: 4px;
	flex-wrap: wrap;
}

.link {
	text-align: center;
	width: 100%;
	display: block;
	height: 48px;
	margin: auto 0px;
	line-height: 48px;
}

.splitlinkprimary {
	text-align: center;
	position: relative;
	display: inline-block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	flex-grow: 1;
	height: 48px;
	line-height: 48px;
}

.splitlinksecondary {
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 48px;
	width: 30px;
}

.dropdown {
    width: 100%;
	text-align: center;
	position: relative;
	display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5px;
    top: 40px;
    min-width: 160px;
    padding: 10px;
    z-index: 1;
    cursor: default;
}

.splitlinksecondary:active .dropdown-content, .splitlinksecondary:focus .dropdown-content {
    display: block;    
}

.border-bottom {
	border-bottom: 3px #4E7271 solid;
}

.content-border-bottom {
	border-bottom: 2px #4E7271 solid;
	width: 100%;
}

.rounded {
	border-radius: 5px;
}

.element-center {
	justify-content: center;
	display: inline-flex;
	width: 100%;
}

.extrapadding {
	padding: 20px 0px;
}

.text-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
	font-size: 1.4rem;
}

.socialSmallContainer {
	display: inline-flex;
	margin-top: 10px;
}

.gitHubSmallLink, .linkedinSmallLink, .stackSmallLink {
	height: 40px;
	width: 40px;
	background-size: 40px;
	border-radius: 5px;
	margin: 6px;
}

.gitHubLink, .linkedinLink, .stackLink {
	height: 80px;
	width: 80px;
	background-size: contain;
	border-radius: 5px;
	margin: 6px;
}

.gitHubSmallLink, .gitHubLink {
	background-image: url('../images/github.png');
}

.linkedinSmallLink, .linkedinLink {
	background-image: url('../images/linkedin.png');
}

.stackSmallLink, .stackLink {
	background-image: url('../images/stackoverflow.png');
}

.gitHubSmallLink:hover, .gitHubSmallLink:active, .gitHubSmallLink:focus, .gitHubLink:hover, .gitHubLink:active, .gitHubLink:focus {
	background-image: url('../images/github2.png');
}


.linkedinSmallLink:hover, .linkedinSmallLink:active, .linkedinSmallLink:focus, .linkedinLink:hover, .linkedinLink:active, .linkedinLink:focus {
	background-image: url('../images/linkedin2.png');
}

.stackSmallLink:hover, .stackSmallLink:active, .stackSmallLink:focus, .stackLink:hover, .stackLink:active, .stackLink:focus {
	background-image: url('../images/stackoverflow2.png');
}

#paulBaker {
	float: left;
	max-width: 40%;
	min-width: 100px;
	max-height: 70%;
	min-height: 200px;
	padding: 5px;
}

@media only screen and (min-width: 768px) {
    /* For tablets and small laptops: */
	 
	.header-grid-container, .main-grid-container {
		max-width: 760px;
	}

	/* The next 4 rearranges the nav bar */
	.header-item-name {
		grid-area: 1 / 1 / span 1 / span 5;
		margin-bottom: 0px;
	}

	.header-item-nav-1 {
		grid-area: 1 / 7 / span 1 / 9;
		height: 50px;
		margin: auto 0px;
	}

	.header-item-nav-2 {
		grid-area: 1 / 9 / span 1 / 11;
		height: 50px;
		margin: auto 0px;
	}

	.header-item-nav-3 {
		grid-area: 1 / 11 / span 1 / 13;
		height: 50px;
		margin: auto 0px;
	}
}

@media only screen and (min-width: 980px) {
    /* For large screens: */


    /* these three make main item comtent scroll when it overflows */
	html {
		overflow: hidden;
	}

	.main-item-content {
		overflow: hidden;
	    max-height: calc(100vh - 190px);
	    position: relative;
	    max-width: 100%;
	    backface-visibility: hidden;
	    will-change: overflow;
	}

	.main-item-flex {
		overflow: auto;
	    height: auto;
	    -webkit-overflow-scrolling: touch;
	    -ms-overflow-style: none;
	}

	.header-grid-container,.main-grid-container {
		max-width: 980px;
	}

	/* Hides nav 3 (with drop down) and shows nav 4 (without drop down) */
	.header-item-nav-3 {
		display: none;
	}

	.header-item-nav-4 {
		display: flex;
	}

	/* Positions the main item content and displays connect with me panel */
	.main-item-content {
		grid-area: 1 / 1 / 3 / 8;
	}

	.main-item-connect {
		display: inline-flex;
	}
}