/*Classes*/

.portfolioDivLabel {
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 5px 0px;
}

.titleNarrow {
	position: absolute;
	width: 920px;
	top: 20px;
	left: 20px;
}

/*Id*/

#projectsContainerSmall {
	clear: both;
	position: relative;
	width: 920px;
	margin-top: 60px;
	display: none;
    flex-flow: row wrap;
    justify-content: center;
	z-index: 1;
}

#projectsContainerMedium {
	clear: both;
	position: relative;
	width: 920px;
	margin-top: 60px;
	/*display: none;*/
    flex-flow: row wrap;
    justify-content: center;
	z-index: 1;	
}

#projectsContainerLarge {
	clear: both;
	position: relative;
	width: 920px;
	margin-top: 60px;
	/*display: flex;*/
    flex-flow: row wrap;
    justify-content: center;
	z-index: 1;	
}

#projectLink1Small {
	height: 187px;
	width: 280px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderSmall.png');
	background-size: 280px 187px;
	border-radius: 5px;
}

#projectLink1Small:hover, #projectLink1Small:focus {
	height: 197px;
	width: 290px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 290px 197px;
}

#projectLink2Small {
	height: 187px;
	width: 280px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderSmall.png');
	background-size: 280px 187px;
	border-radius: 5px;
}

#projectLink2Small:hover, #projectLink2Small:focus {
	height: 197px;
	width: 290px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 290px 197px;
}

#projectLink3Small {
	height: 187px;
	width: 280px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderSmall.png');
	background-size: 280px 187px;
	border-radius: 5px;
}

#projectLink3Small:hover, #projectLink3Small:focus {
	height: 197px;
	width: 290px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 290px 197px;
}

#projectLink4Small {
	height: 187px;
	width: 280px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderSmall.png');
	background-size: 280px 187px;
	border-radius: 5px;
}

#projectLink4Small:hover, #projectLink4Small:focus {
	height: 197px;
	width: 290px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 290px 197px;
}

#projectLink5Small {
	height: 187px;
	width: 280px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderSmall.png');
	background-size: 280px 187px;
	border-radius: 5px;
}

#projectLink5Small:hover, #projectLink5Small:focus {
	height: 197px;
	width: 290px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 290px 197px;
}

#projectLink1Medium {
	height: 292px;
	width: 438px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderMedium.png');
	background-size: 438px 292px;
	border-radius: 5px;
}

#projectLink1Medium:hover, #projectLink1Medium:focus {
	height: 302px;
	width: 448px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 448px 302px;
}

#projectLink2Medium {
	height: 292px;
	width: 438px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderMedium.png');
	background-size: 438px 292px;
	border-radius: 5px;
}

#projectLink2Medium:hover, #projectLink2Medium:focus {
	height: 302px;
	width: 448px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 448px 302px;
}

#projectLink3Medium {
	height: 292px;
	width: 438px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderMedium.png');
	background-size: 438px 292px;
	border-radius: 5px;
}

#projectLink3Medium:hover, #projectLink3Medium:focus {
	height: 302px;
	width: 448px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 448px 302px;
}

#projectLink4Medium {
	height: 292px;
	width: 438px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderMedium.png');
	background-size: 438px 292px;
	border-radius: 5px;
}

#projectLink4Medium:hover, #projectLink4Medium:focus {
	height: 302px;
	width: 448px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 448px 302px;
}

#projectLink5Medium {
	height: 292px;
	width: 438px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderMedium.png');
	background-size: 438px 292px;
	border-radius: 5px;
}

#projectLink5Medium:hover, #projectLink5Medium:focus {
	height: 302px;
	width: 448px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 448px 302px;
}

#projectLink1Large {
	height: 587px;
	width: 880px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderLarge.png');
	background-size: 880px 587px;
	border-radius: 5px;
}

#projectLink1Large:hover, #projectLink1Large:focus {
	height: 597px;
	width: 890px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 890px 597px;
}

#projectLink2Large {
	height: 587px;
	width: 880px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderLarge.png');
	background-size: 880px 587px;
	border-radius: 5px;
}

#projectLink2Large:hover, #projectLink2Large:focus {
	height: 597px;
	width: 890px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 890px 597px;
}

#projectLink3Large {
	height: 587px;
	width: 880px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderLarge.png');
	background-size: 880px 587px;
	border-radius: 5px;
}

#projectLink3Large:hover, #projectLink3Large:focus {
	height: 597px;
	width: 890px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 890px 597px;
}

#projectLink4Large {
	height: 587px;
	width: 880px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderLarge.png');
	background-size: 880px 587px;
	border-radius: 5px;
}

#projectLink4Large:hover, #projectLink4Large:focus {
	height: 597px;
	width: 890px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 890px 597px;
}

#projectLink5Large {
	height: 587px;
	width: 880px;
	margin: 10px;
	position: relative;
	background-image: url('../images/projectPlaceHolderLarge.png');
	background-size: 880px 587px;
	border-radius: 5px;
}

#projectLink5Large:hover, #projectLink5Large:focus {
	height: 597px;
	width: 890px;
	border: 4px solid #393F44;
	padding: 0px;
	margin: 1px;
	background-size: 890px 597px;
}

#smallIconSize {
	padding: 0px;
	margin: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/smallIcons.png');
	position: absolute;
	top: 5px;
	right: 100px;
	border: none;
    cursor: pointer;

}

#smallIconSize:hover, #smallIconSize:focus ,#smallIconSize:active {
	width: 34px;
	height: 34px;
	top: 3px;
	right: 98px;
	background-size: 34px;
}

#mediumIconSize {
	padding: 0px;
	margin: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/mediumIcons.png');
	position: absolute;
	top: 5px;
	right: 60px;
	border: none;
    cursor: pointer;
}

#mediumIconSize:hover, #mediumIconSize:focus, #mediumIconSize:active {
	width: 34px;
	height: 34px;
	top: 3px;
	right: 58px;
	background-size: 34px;
}

#largeIconSize {
	padding: 0px;
	margin: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/largeIcons.png');
	position: absolute;
	top: 5px;
	right: 20px;
	border: none;
    cursor: pointer;
}

#largeIconSize:hover, #largeIconSize:focus, #largeIconSize:active {
	width: 34px;
	height: 34px;
	top: 3px;
	right: 18px;
	background-size: 34px;
}