/* CSS controls portfolio project content */

/* sub grid box to position the size selectors */
.title-grid {
	grid-area: 1 / 1 / 2 / 7;
}

.button1-grid {
	grid-area: 1 / 10 / 2 / 11;
}

.button2-grid {
	grid-area: 1 / 11 / 2 / 12;
}

.button3-grid {
	grid-area: 1 / 12 / 2 / 13;
}


.portfolioDivLabel {
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 5px 0px;
	text-align: center;
}

/* Three seletor buttons */
#smallIconSize, #mediumIconSize, #largeIconSize {
	padding: 0px;
	margin: 10px;
	width: 30px;
	height: 30px;
	
	display: block;
    cursor: pointer;
}

#smallIconSize {
	background-image: url('../images/smallIcons.png');
}

#mediumIconSize {
	background-image: url('../images/mediumIcons.png');
}

#largeIconSize {
	background-image: url('../images/largeIcons.png');
}

#smallIconSize:hover, #smallIconSize:focus ,#smallIconSize:active, #mediumIconSize:hover, #mediumIconSize:focus, #mediumIconSize:active, #largeIconSize:hover, #largeIconSize:focus, #largeIconSize:active {
	opacity: 1 !important;
}

/* Flex containers to display the content.  Displays are set in line styles and JS */
#projectsContainerSmall, #projectsContainerMedium, #projectsContainerLarge {
	clear: both;
	position: relative;
	max-width: 634px;
	min-width: 385px;
	flex-flow: row wrap;
    justify-content: center;
	z-index: 1;
}

/* Small sized */
#projectLink1Small, #projectLink2Small, #projectLink3Small, #projectLink4Small, #projectLink5Small {
	width: 175px;
	height: 117px;
	margin: 10px;
	position: relative;
	background-size: 175px 117px;
	border-radius: 5px;
}

#projectLink1Small {
	background-image: url('../images/projectPlaceHolderSmall.png');
}

#projectLink2Small {
	background-image: url('../images/projectPlaceHolderSmall.png');
}

#projectLink3Small {
	background-image: url('../images/projectPlaceHolderSmall.png');
}

#projectLink4Small {
	background-image: url('../images/projectPlaceHolderSmall.png');
}

#projectLink5Small {
	background-image: url('../images/projectPlaceHolderSmall.png');
}

#projectLink1Small:hover, #projectLink1Small:focus, #projectLink2Small:hover, #projectLink2Small:focus, #projectLink3Small:hover, #projectLink3Small:focus, #projectLink4Small:hover, #projectLink4Small:focus, #projectLink5Small:hover, #projectLink5Small:focus  {
	border: 4px solid #393F44;
}

/* Medium sized */
#projectLink1Medium, #projectLink2Medium, #projectLink3Medium, #projectLink4Medium, #projectLink5Medium {
	width: 260px;
	height: 174px;
	margin: 10px;
	position: relative;
	background-size: 260px 174px;
	border-radius: 5px;
}

#projectLink1Medium {
	background-image: url('../images/projectPlaceHolderMedium.png');
}

#projectLink2Medium {
	background-image: url('../images/projectPlaceHolderMedium.png');
}

#projectLink3Medium {
	background-image: url('../images/projectPlaceHolderMedium.png');
}

#projectLink4Medium {
	background-image: url('../images/projectPlaceHolderMedium.png');
}

#projectLink5Medium {
	background-image: url('../images/projectPlaceHolderMedium.png');
}

#projectLink1Medium:hover, #projectLink1Medium:focus, #projectLink2Medium:hover, #projectLink2Medium:focus, #projectLink3Medium:hover, #projectLink3Medium:focus, #projectLink4Medium:hover, #projectLink4Medium:focus, #projectLink5Medium:hover, #projectLink5Medium:focus {
	border: 4px solid #393F44;
}

/* Large sized */
#projectLink1Large, #projectLink2Large, #projectLink3Large, #projectLink4Large, #projectLink5Large {
	width: 585px;
	height: 391px;
	margin: 10px;
	position: relative;
	background-size: 585px 391px;
	border-radius: 5px;
}

#projectLink1Large {
	background-image: url('../images/projectPlaceHolderLarge.png');
}

#projectLink2Large {
	background-image: url('../images/projectPlaceHolderLarge.png');
}

#projectLink3Large {
	background-image: url('../images/projectPlaceHolderLarge.png');
}

#projectLink4Large {
	background-image: url('../images/projectPlaceHolderLarge.png');
}

#projectLink5Large {
	background-image: url('../images/projectPlaceHolderLarge.png');
}

#projectLink1Large:hover, #projectLink1Large:focus, #projectLink2Large:hover, #projectLink2Large:focus, #projectLink3Large:hover, #projectLink3Large:focus, #projectLink4Large:hover, #projectLink4Large:focus, #projectLink5Large:hover, #projectLink5Large:focus {
	border: 4px solid #393F44;
}

@media only screen and (min-width: 768px) {
    /* For tablets and small laptops: */
	 
	#projectsContainerSmall, #projectsContainerMedium, #projectsContainerLarge {
		max-width: 760px;
	}

	#projectLink1Small, #projectLink2Small, #projectLink3Small, #projectLink4Small, #projectLink5Small {
		width: 215px;
		height: 144px;
		background-size: 215px 144px;
	}

	#projectLink1Medium, #projectLink2Medium, #projectLink3Medium, #projectLink4Medium, #projectLink5Medium {
		width: 320px;
		height: 214px;
		background-size: 320px 214px;
	}

	#projectLink1Large, #projectLink2Large, #projectLink3Large, #projectLink4Large, #projectLink5Large {
		width: 700px;
		height: 468px;
		background-size: 700px 468px;
	}
}

@media only screen and (min-width: 980px) {
    /* For large screens: */

    #projectsContainerSmall, #projectsContainerMedium, #projectsContainerLarge {
		max-width: 760px;
	}

	#projectLink1Small, #projectLink2Small, #projectLink3Small, #projectLink4Small, #projectLink5Small {
		width: 150px;
		height: 100px;
		background-size: 150px 100px;
	}

	#projectLink1Medium, #projectLink2Medium, #projectLink3Medium, #projectLink4Medium, #projectLink5Medium {
		width: 230px;
		height: 154px;
		background-size: 230px 154px;
	}

	#projectLink1Large, #projectLink2Large, #projectLink3Large, #projectLink4Large, #projectLink5Large {
		width: 500px;
		height: 334px;
		background-size: 500px 334px;
	}
}